# Node
node_modules/
.pnpm/
.pnpm-debug.log
.env
.env.*.local
pnpm-lock.yaml

# Build outputs
dist/
build/
out/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Vite
.vite/

# TypeScript
*.tsbuildinfo

# Editor & OS
.idea/
.vscode/
.DS_Store
Thumbs.db

# Coverage
coverage/
*.lcov

# Cypress
cypress/videos/
cypress/screenshots/
